<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a routerLink="/" style="display:flex;align-items:center;gap:10px;text-decoration:none">
          <img src="assets/hiredesklogo.png" alt="HireDesk" style="height:38px;width:auto;" />
          <span class="logo-text">HireDesk</span>
          </a>
      </div>
      <nav class="nav">
        <a routerLink="" class="nav-link">Home</a>
        <a routerLink="/jobs" class="nav-link">Jobs</a>
        <!-- <a routerLink="/companies" class="nav-link">Companies</a> -->
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/registration" class="nav-link">Registration</a>
        <a routerLink="/contactus" class="nav-link">Contact us</a>
        <a routerLink="/aboutus" class="nav-link">About Us</a>
      </nav>
    </div>
  </div>
</header>