.hero {
  background: linear-gradient(to right, #63c6f0, #1c7dc2);
  padding: 60px;
  text-align: center;
  color: #fff;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-box input {
  width: 400px;
  padding: 12px;
  border: none;
}

.search-box button {
  background: #003b64;
  color: #fff;
  border: none;
  padding: 12px 20px;
}

.quick {
  background: #0b3a55;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.questions {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 30px;
}

.question {
  cursor: pointer;
}

.topics {
  padding: 50px;
  text-align: center;
}

.topic-grid {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px;
}

.topic-card {
  background: #f2f2f2;
  padding: 30px;
  cursor: pointer;
  border-radius: 20px;
}

.blogs {
  padding: 50px;
  text-align: center;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.blog-card img {
  width: 100%;
}

.contact {
  background: #24384c;
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.form input, .form textarea, .form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

